body{
    background-color: #d5dbdb;
    font-size: 20px;
    text-align: center;
    padding: 100px;
}

#pokemonInfo{
    margin-top: 20px;
    text-align: center;
}

#pokemonInfo img {
    width: 200px;
    height: 200px;
    object-fit: contain;
}
button{
    background-color: #f0ad4e;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}
h2{
    color: #31708f;
    text-transform: uppercase;
}
h3{
    color: #8a6d3b;
    font-size: 25px;
    text-align: center;
}
p{
    color: #3c763d;
    font-size: 20px;
    text-align: center;
}
ul{
    list-style-type: none;
    padding: 0;
}
li{
    margin-bottom: 10px;
    color: #8a3d55;
    text-align: justify;
}
.container{
    border: 5px solid #f0ad4e;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px;
    background-color: #f0ad4e;
    border-radius: 12px;
    overflow: hidden;
    padding: 15px;
    display: flex;
    flex-direction: column;
}
.row{
    display: flex;
    flex-wrap: wrap;
    padding: 0%;
    margin: 0%;
    align-items: stretch;
}
.col{
    box-sizing: border-box;
    width: auto;
    align-items: stretch;
}
.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.title-pokeball {
    width: 50px;
    height: 50px;
}
.sprite-img {
    width: 96px;
    height: 96px;
    object-fit: contain;
}
.card {
    border: 5px solid #f0ad4e;;
    border-radius: 12px;
    border-style: double;
    background-color: #ffffff;
    padding: 0px;
    margin: 0px;
    align-self: stretch;
}
.card-body {
    align-self: stretch;
}
.card-title {
    font-size: 24px;
    margin-bottom: 10px;
    color: #31708f;
    text-transform: uppercase;
}