body{
    background-color: #a8c3ddc0;
    font-size: 20px;
    text-align: center;
    padding: 20px;
}

#pokemonInfo{
    margin-top: 20px;
    text-align: center;
}

#pokemonInfo img {
    width: 200px;
    height: 200px;
    object-fit: contain;
}
button{
    border: solid 8px;
    border-style: groove;
    border-color: #356ABC;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    font-family: "DynaPuff", system-ui;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    -webkit-text-stroke: 2px #356ABC;
}
h1{
    color: #28242e;
    text-transform: uppercase;
}
h2{
    color: #28242e;
    text-transform: uppercase;
    font-family: "DynaPuff", system-ui;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
h3{
    color: #757cbb;
    font-size: 25px;
    text-align: center;
    font-family: "Rubik Iso", system-ui;
    font-weight: 400;
    font-style: normal;
}
p{
    color: #757cbb;
    font-size: 20px;
    text-align: center;
    font-family: "DynaPuff", system-ui;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
ul{
    list-style-type: none;
    padding: 0;
    text-align: center;
    align-items: center;
    align-self: center;
    align-content: center;
}
li{
    margin-bottom: 10px;
    color: #7a99b6;
    text-align: center;
    font-family: "DynaPuff", system-ui;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
.container{
    border: 5px solid #f0ad4e;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px;
    background: linear-gradient(#ffadad, #ffd6a5, #fdffb6, #caffbf, #9bf6ff, #a0c4ff, #ffadad);
    border-radius: 12px;
    overflow: hidden;
    padding: 15px;
    display: flex;
    flex-direction: column;
}
.row{
    display: flex;
    flex-wrap: wrap;
    padding: 0%;
    margin: 0%;
    align-items: stretch;
}
.col{
    box-sizing: border-box;
    width: auto;
    align-items: stretch;
}
.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-bottom: #45424b 2px solid;
    padding: 30px;
    margin: 30px;
    background: linear-gradient(#cfdfee, #c0d6ff, #d1dff9);
    border-radius: 10px;
}

.title-pokeball {
    width: 50px;
    height: 50px;
}
.sprite-img {
    width: 96px;
    height: 96px;
    object-fit: contain;
}
.card {
    border: 5px solid #f0ad4e;;
    border-radius: 12px;
    border-style: double;
    background-color: #ffffff;
    padding: 0px;
    margin: 0px;
    align-self: stretch;
}
.card-body {
    align-self: center;
    align-items: center;
    padding: 10px;
    width: 100%;
}
.card-body:not(:last-child) {
    border-bottom: 2px solid #f0ad4e;
}
.card-title {
    font-size: 24px;
    margin-bottom: 10px;
    color: #757cbb;
    text-transform: uppercase;
}

@keyframes rainbow-bg {
    to {
        background-position: -200% center;
    }
}

@keyframes rainbow-text {
    to {
        background-position: -200% center;
    }
}

#generateBtn {
    background: linear-gradient(to right, #ffadad, #ffd6a5, #fdffb6, #caffbf, #9bf6ff, #a0c4ff, #ffadad);
    background-size: 200% auto;
    animation: rainbow-bg 2s linear infinite;
    color: #356ABC;
}
#generateBtn:hover {
    background: linear-gradient(to right, #ffadad, #ffd6a5, #fdffb6, #caffbf, #9bf6ff, #a0c4ff, #ffadad);
    background-size: 200% auto;
    animation: rainbow-bg 1s linear infinite;
    color: #356ABC;
}
.spinner {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background: linear-gradient(to right, #ffadad, #ffd6a5, #fdffb6, #caffbf, #9bf6ff, #a0c4ff, #ffadad);
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}